<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">

    <display-name>Twitter</display-name>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>awsunibz.rolv1</param-value>
    </context-param>

    <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>

    <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
          <!--/WEB-INF/Rolodex-service.xml-->
          /WEB-INF/twitter-service.xml
          /WEB-INF/twitter-data.xml
       </param-value>
    </context-param>

    <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!--
       Required for Spring portlets to delegate view rendering.
      -->
    <servlet>
      <servlet-name>ViewRendererServlet</servlet-name>
      <servlet-class>
        org.springframework.web.servlet.ViewRendererServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>

  
    <servlet-mapping>
      <servlet-name>ViewRendererServlet</servlet-name>
      <url-pattern>/WEB-INF/servlet/view</url-pattern>
    </servlet-mapping>

</web-app>
